In [1]:
import time
import numpy as np 
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer

### Features

In [2]:
df = pd.read_csv('./data/data.txt', sep=' ', nrows=100)
df.columns

Index(['instance_id', 'item_id', 'item_category_list', 'item_property_list',
       'item_brand_id', 'item_city_id', 'item_price_level', 'item_sales_level',
       'item_collected_level', 'item_pv_level', 'user_id', 'user_gender_id',
       'user_age_level', 'user_occupation_id', 'user_star_level', 'context_id',
       'context_timestamp', 'context_page_id', 'predict_category_property',
       'shop_id', 'shop_review_num_level', 'shop_review_positive_rate',
       'shop_star_level', 'shop_score_service', 'shop_score_delivery',
       'shop_score_description', 'is_trade'],
      dtype='object')

In [5]:
df_is_trade = df[df.is_trade == 1]
df_not_trade = df[df.is_trade == 0]

df_sub_not_trade = df_not_trade.sample(frac=0.01)
df_sub_not_trade

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
29,5978989494083802018,4596211878136725009,7908382889764677758;4879721024980945592,2072967855524022579;2636395404473730413;462193...,2768135360437758991,3948283326616421003,7,7,13,14,...,4010,4879721024980945592:2636395404473730413;581450...,6768355095170828465,14,0.980592,5012,0.97268,0.972113,0.97068,0

In [25]:
data = np.array(pd.concat([df_sub_not_trade, df_is_trade], axis=0).reset_index(drop=True))
data[np.where(data[:, -1] == 1),0], data.shape

(array([[7972325483281584825, 5698113918818659664, 3398773118902833938,
         8127284011992533394]], dtype=object), (5, 27))

In [24]:
from sklearn.utils import shuffle
shuffle(pd.concat([df_sub_not_trade, df_is_trade], axis=0)).reset_index(drop=True)

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,context_page_id,predict_category_property,shop_id,shop_review_num_level,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade
0,5978989494083802018,4596211878136725009,7908382889764677758;4879721024980945592,2072967855524022579;2636395404473730413;462193...,2768135360437758991,3948283326616421003,7,7,13,14,...,4010,4879721024980945592:2636395404473730413;581450...,6768355095170828465,14,0.980592,5012,0.972680,0.972113,0.970680,0
1,7972325483281584825,285660928590172217,7908382889764677758;8277336076276184272,2072967855524022579;5131280576272319091;263639...,9057103201734987852,548352491538518780,8,9,8,13,...,4001,"4879721024980945592:2636395404473730413,719936...",4885989684392199728,15,0.985427,5012,0.974878,0.976863,0.969278,1
2,8127284011992533394,1093710751022752245,7908382889764677758;5755694407684602296,5131280576272319091;2636395404473730413;101341...,7066302540842412840,3948283326616421003,7,11,12,19,...,4012,509660095530134768:2636395404473730413;8277336...,6597981382309269962,21,0.997040,5018,0.979661,0.979589,0.975442,1
3,3398773118902833938,557883074900282934,7908382889764677758;8277336076276184272,2636395404473730413;6434796455031995313;643479...,7066302540842412840,3948283326616421003,7,12,14,19,...,4001,8277336076276184272:2636395404473730413;176016...,6597981382309269962,21,0.997040,5018,0.979661,0.979589,0.975442,1
4,5698113918818659664,919980016657888153,7908382889764677758;5755694407684602296,5131280576272319091;2636395404473730413;124376...,7066302540842412840,3948283326616421003,7,11,12,19,...,4001,"5755694407684602296:9142827274221572643,914848...",6597981382309269962,21,0.997040,5018,0.979661,0.979589,0.975442,1

In [205]:
df.is_trade.value_counts(normalize=True)

0    0.981133
1    0.018867
Name: is_trade, dtype: float64

In [193]:
def generate_ratio(df):
    """历史转化率"""
    df['item_cat_0'] = df.item_category_list.apply(lambda x: x.split(';')[0])
    df['item_cat_1'] = df.item_category_list.apply(lambda x: x.split(';')[1])

    gp = (df.groupby(['item_cat_1', 'item_id']).is_trade.sum() /
          df.groupby(['item_cat_1']).is_trade.sum()).reset_index(name='item_cat_ratio')
    df_concat = pd.merge(df, gp, how='left', on=['item_cat_1', 'item_id']).fillna(0)

    df_concat.drop(['item_cat_0'], axis=1, inplace=True)
    return df_concat

In [194]:
df = generate_ratio(df)

In [220]:
# 􏰝􏰏􏰚􏰄􏶾􏰆􏰡􏰙􏶾􏰞􏰤􏰇􏰝􏰏􏰚􏰄􏶾􏰆􏰡􏰙􏶾􏰞􏰤􏰇number of successful transaction records /total transaction records

df['user_trade_ratio'] = df.groupby(['user_id']).is_trade.transform('mean')
df.loc[df.user_id==9222260051583315159,'user_trade_ratio']

27761     0.142857
35771     0.142857
56699     0.142857
231237    0.142857
254798    0.142857
275881    0.142857
285577    0.142857
Name: user_trade_ratio, dtype: float64

In [41]:
df.item_property_list.apply(lambda x: len(x.split(';'))).min()

22

In [223]:
df.item_property_list[6]

'2072967855524022579;5131280576272319091;2636395404473730413;9148482949976129397;7199361004668592209;4678095570925618478;2033679869864207699;3802510553218572927;1782439090818545916;820214312075361939;5320468090843686429;1134982063610307090;71803110314516845;1301076623647253687;3258780649701680217;514980552440578167;6411614163944830538;478060273908663971;1418324867218214039;6457208937217973355;4859870894564764703;6048265394477193459;5208530887565657358;2559145093180392146;8119922999783109966;90892965411648070;2935986643229018712;7125679806685817518;4998393090172019193;2653795394150816137;9132046213323956404;7004759496810158079;3674308596153344033;647428987512677251;793305798399120948;8560981779145170452;1364838863277739785;6402837117468309719;1556713051218509070;5905014002669999655;4774054090293502457;1723293555671106692;7527849185955020043;5767144546798382177;730203099166226972;8497879079912276476;7152599495073237509;615076485672811995;8382752466418861499;2296315626544640613'

In [187]:
df.groupby(['item_cat_1', 'item_id']).is_trade.sum()

item_cat_1           item_id
2436715285093487584  8237485728010278787    0
4879721024980945592  4596211878136725009    0
509660095530134768   2854920230169118186    0
                     3079313931663066657    0
                     6753712242116121802    0
5755694407684602296  379848927776544534     0
                     919980016657888153     1
                     1093710751022752245    1
                     4215883534709645310    0
                     5202355029344881809    0
                     8574382974114632001    0
                     8824610546121211352    0
                     8996223722581518529    0
5799347067982556520  3412720377098676069    0
8277336076276184272  285660928590172217     1
                     557883074900282934     1
                     1519543411555287447    0
                     1988826649999608740    0
                     2127588125899824865    0
                     2349124492995958413    0
                     2378909420050091061    0
                     2540781378235236842    0
                     3546971049578000080    0
                     3586219554105453016    0
                     4684989551642457113    0
                     6032712367823716409    0
                     7252664911628293109    0
                     7775860457160940180    0
                     8238195786294017989    0
                     8626373102868398325    0
                     8629327205974770664    0
Name: is_trade, dtype: int64

### Change timestamp to date

In [26]:
df['context_timestamp'].head()

0    1537236544
1    1537243232
2    1537211052
3    1537222670
4    1537271320
Name: context_timestamp, dtype: int64

In [27]:
df['date'] = df['context_timestamp'].apply(lambda x: time.strftime('%Y-%m-%d', time.localtime(x)))

In [28]:
df['date'].unique()

array(['2018-09-17', '2018-09-18', '2018-09-20', '2018-09-21',
       '2018-09-19', '2018-09-22', '2018-09-23', '2018-09-24'],
      dtype=object)

In [29]:
def build_date_buf(date_pivot, left, right):
    date_buf = []
    for i in range(left, right):
        date = date_pivot + pd.Timedelta(i, unit='d')
        date_buf.append(date.strftime('%Y-%m-%d'))

    return date_buf

day = pd.to_datetime('2018-09-20')
lag_days = build_date_buf(day, -3, 0)
day, lag_days

(Timestamp('2018-09-20 00:00:00'), ['2018-09-17', '2018-09-18', '2018-09-19'])

In [30]:
target_df = df[df['date'].isin(['2018-09-20'])]
lag_df = df[df['date'].isin(lag_days)]

In [31]:
lag_df.groupby('item_id').is_trade.mean().reset_index().head()

             item_id  is_trade
0    696490723789804  0.000000
1   1097631460775571  0.000000
2   1637165183538885  0.000000
3   9393908124420502  0.000000
4  10102212873966760  0.111111

In [57]:
df['item_cat_ratio'] = 0
df.loc[(df.item_cat_1 == '1968056100269760729') & (df.item_id==46913422739079690), :]

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_review_positive_rate,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade,date,item_cat_0,item_cat_1,item_cat_ratio
107798,3832515220731394505,46913422739079690,7908382889764677758;1968056100269760729,2072967855524022579;6491818071284064879;374195...,-1,8762827044490678569,4,4,6,9,...,0.989834,5008,0.975714,0.97000,0.962857,0,2018-09-21,7908382889764677758,1968056100269760729,0
317126,2211301062835601509,46913422739079690,7908382889764677758;1968056100269760729,2072967855524022579;6491818071284064879;374195...,-1,8762827044490678569,4,4,6,9,...,0.989834,5008,0.976296,0.97037,0.962963,0,2018-09-22,7908382889764677758,1968056100269760729,0

In [78]:
temp = (df.groupby(['item_cat_1', 'item_id']).is_trade.sum()/df.groupby(['item_cat_1']).is_trade.sum()).reset_index(name='ratio')

In [173]:
df.drop(['item_cat_1','item_cat_0','item_cat_ratio'], inplace=True, axis=1)

In [174]:
# item to category portion
df['item_cat_0'] = df.item_category_list.apply(lambda x: x.split(';')[0])
df['item_cat_1'] = df.item_category_list.apply(lambda x: x.split(';')[1])

In [175]:
gp = (df.groupby(['item_cat_1', 'item_id']).is_trade.sum() /
          df.groupby(['item_cat_1']).is_trade.sum()).reset_index(name='ratio')
df_concat = pd.merge(df, gp, how='left', on=['item_cat_1', 'item_id'])

In [177]:
df_concat['ratio'].isnull().sum()

0

In [165]:
def make_instant_feature(df):
    first, prev = -1, -1
    first_buf, prev_buf, fif_min_buf = [], [], []
    i = 0
    for row in df.itertuples():
        cur = row.context_timestamp
        
        if first == -1:
            first = row.context_timestamp
        print(i, cur, first)
        i+=1
        first_buf.append(cur - first)

        if prev == -1:
            prev_buf.append(0)
            fif_min_buf.append(1)
        else:
            prev_buf.append(cur - prev)
            if cur - prev <= 15 * 60:
                fif_min_buf.append(fif_min_buf[-1] + 1)
            else:
                fif_min_buf.append(1)
        prev = cur

    df['first_to_now'] = first_buf
    df['prev_to_now'] = prev_buf
    df['recent_15_minutes'] = fif_min_buf

    return df[['instance_id', 'first_to_now', 'prev_to_now', 'recent_15_minutes']].reset_index(drop=True)

In [168]:
df_sub = df.loc[df.user_id==24779788309075]
sorted_df = df_sub.sort_values('context_timestamp')
uig = sorted_df.groupby(['user_id', 'item_id'])
uig[['instance_id', 'context_timestamp']].apply(make_instant_feature)

0 1537366714 1537366714
0 1537366714 1537366714
0 1537366714 1537366714
0 1537366714 1537366714
0 1537364387 1537364387
1 1537368731 1537364387

                                              instance_id  first_to_now  \
user_id        item_id
24779788309075 3429903120089063586 0  1629978529043464171             0
               5649087492658319596 0  4636982419062975858             0
                                   1  2787042360944838947          4344

                                      prev_to_now  recent_15_minutes
user_id        item_id
24779788309075 3429903120089063586 0            0                  1
               5649087492658319596 0            0                  1
                                   1         4344                  1

In [162]:
df.loc[df.user_id==24779788309075, ['user_id', 'item_id', 'instance_id', 'context_timestamp']]

,user_id,item_id,instance_id,context_timestamp
188643,24779788309075,5649087492658319596,2787042360944838947,1537368731
188698,24779788309075,5649087492658319596,4636982419062975858,1537364387
194228,24779788309075,3429903120089063586,1629978529043464171,1537366714

In [100]:
df_concat = pd.merge(df, temp, how='left', on=['item_cat_1', 'item_id'])#.loc[(df.item_cat_1=='1968056100269760729') & (df.item_id==1180596174796485303), :]

In [101]:
df_concat.loc[(df_concat.item_cat_1=='1968056100269760729') & (df_concat.item_id==1180596174796485303), :]

,instance_id,item_id,item_category_list,item_property_list,item_brand_id,item_city_id,item_price_level,item_sales_level,item_collected_level,item_pv_level,...,shop_star_level,shop_score_service,shop_score_delivery,shop_score_description,is_trade,date,item_cat_0,item_cat_1,item_cat_ratio,ratio
10585,5896116892883341185,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,10,9,13,...,5014,0.979302,0.979908,0.975555,0,2018-09-17,7908382889764677758,1968056100269760729,0,0.285714
10589,5314197882911123285,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,10,9,13,...,5014,0.979302,0.979908,0.975555,0,2018-09-18,7908382889764677758,1968056100269760729,0,0.285714
10590,7058238343125480221,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,10,9,13,...,5014,0.979302,0.979908,0.975555,0,2018-09-17,7908382889764677758,1968056100269760729,0,0.285714
91187,866256051274029025,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979654,0.980123,0.975934,0,2018-09-20,7908382889764677758,1968056100269760729,0,0.285714
91188,1771132447922487667,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979654,0.980123,0.975934,0,2018-09-20,7908382889764677758,1968056100269760729,0,0.285714
230483,7409677986390795391,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979675,0.980144,0.975877,0,2018-09-20,7908382889764677758,1968056100269760729,0,0.285714
230485,6817727888974699045,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979675,0.980144,0.975877,0,2018-09-20,7908382889764677758,1968056100269760729,0,0.285714
298935,4365546601997491290,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979587,0.980027,0.975716,1,2018-09-21,7908382889764677758,1968056100269760729,0,0.285714
450660,4222251925991786246,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979582,0.980048,0.975644,0,2018-09-24,7908382889764677758,1968056100269760729,0,0.285714
450661,9132993776516422070,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979582,0.980048,0.975644,0,2018-09-24,7908382889764677758,1968056100269760729,0,0.285714
450663,1445806556875918137,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979582,0.980048,0.975644,1,2018-09-24,7908382889764677758,1968056100269760729,0,0.285714
450664,7996007836396907742,1180596174796485303,7908382889764677758;1968056100269760729,2072967855524022579;2636395404473730413;914848...,9208708814891093062,4918413420989329604,5,11,9,13,...,5014,0.979582,0.980048,0.975644,0,2018-09-24,7908382889764677758,1968056100269760729,0,0.285714

In [50]:
(df['item_sales_level']/df['item_collected_level']).nunique()

124

In [48]:
df[['item_sales_level', 'item_collected_level', 'user_id', 'is_trade']]

        item_sales_level  item_collected_level              user_id  is_trade
0                      3                     4  4505772604969228686         0
1                      3                     4  2692638157208937547         0
2                      3                     4  5247924392014515924         0
3                      3                     4  2681414445369714628         0
4                      3                     4  2729475788342039013         0
5                      3                     4  4512655448325954611         0
6                      9                     8  8811056487516803043         0
7                      9                     8  6507704883896466138         0
8                      9                    10  6203308008480593423         0
9                      9                     8  6041712044514783312         0
10                     9                     8  5527752154396335340         0
11                     9                    10  9136135655015970865         0
12                     9                     8  1125352029162214778         0
13                     9                     8  3677962228574948324         0
14                     9                     8  5724091758094305190         1
15                     9                     8  7039399708071640850         0
16                     9                    10  2336243288189250115         0
17                     9                    10  5629863948218506765         0
18                     9                     8   827042086894286790         0
19                     9                     8  3324440602135810689         0
20                     9                     8  1382659867445899368         0
21                     9                     8  1559176561816563595         0
22                     9                    10  4748790533338949132         0
23                     9                    10  1956175654065515458         0
24                     9                    10  5298620165522556606         0
25                     9                    10  8060156105833683054         0
26                     9                     8  8279147463706474384         0
27                     9                    10  1725120768985797294         0
28                     9                     8  8555576554536589862         0
29                     7                    13  4080086530604601259         0
...                  ...                   ...                  ...       ...
478108                10                     9   874082703519424358         0
478109                10                     9  1104844847471755931         0
478110                10                     9  8517278150220981702         0
478111                10                     9  4359143942518206667         0
478112                 4                    11  6897312909217058719         0
478113                 9                    14  8631875488566742282         0
478114                 9                     9  7428514987215227213         0
478115                 9                     9  8507464070930967896         0
478116                 7                    11   646134212856987365         0
478117                 7                    11  3049364288337192877         0
478118                 7                    11  2018418041869314257         0
478119                 3                     4   511380265893806314         0
478120                 3                     4  9092110019392726879         0
478121                 3                     4  5963497517176997331         0
478122                 9                    12  8226392355817076299         0
478123                10                    12   967654015632225932         0
478124                 9                    16  2303735452754735391         0
478125                10                    12  3622623152375313530         0
478126                 8                    14  5037055947392073785         0
478127                 9                    12  6633639079977218300         0
478128                 7                    12  8472991257928913533         0
478129                 8                    14  5037055947392073785         0
478130                10                    12  6952856330249913793         0
478131                10                    13  4668730476166383174         0
478132                10                    13  4341781618055685466         1
478133                10                    13  7459595729748359155         0
478134                10                    13  7033818138392866766         0
478135                10                    13  7052469495668520594         0
478136                10                    13   988569127238007467         0
478137                 3                     4  3339280989551857799         0

[478138 rows x 4 columns]

In [25]:
df[['context_timestamp', 'date']].head() # holiday, weekday, season

   context_timestamp        date
0         1537236544  2018-09-17
1         1537243232  2018-09-17
2         1537211052  2018-09-17
3         1537222670  2018-09-17
4         1537271320  2018-09-18

In [10]:
df['date'].unique()

array(['2018-09-17', '2018-09-18', '2018-09-20', '2018-09-21',
       '2018-09-19', '2018-09-22', '2018-09-23', '2018-09-24'],
      dtype=object)

In [11]:
df['item_id'].unique().size

10075

In [12]:
df['item_brand_id'].unique().size

2055

In [13]:
df['item_price_level'].unique()

array([ 3,  8,  7,  5,  4,  6,  9,  2, 10,  1, 11,  0, 17, 16])

In [14]:
df.groupby('date').is_trade.mean().reset_index()

         date  is_trade
0  2018-09-17  0.022869
1  2018-09-18  0.019245
2  2018-09-19  0.020219
3  2018-09-20  0.018804
4  2018-09-21  0.019460
5  2018-09-22  0.018528
6  2018-09-23  0.016131
7  2018-09-24  0.015608

In [15]:
df.groupby('item_id').is_trade.mean().reset_index().head(10)

             item_id  is_trade
0    696490723789804  0.071429
1   1097631460775571  0.016949
2   1637165183538885  0.000000
3   3341342041473146  0.000000
4   4055398786868336  0.000000
5   4255654217639344  0.000000
6   6536469184064787  0.000000
7   7683654146703952  0.000000
8   9393908124420502  0.040816
9  10102212873966760  0.051282

In [16]:
df['user_gender_id'].unique()

array([ 1,  0,  2, -1])

In [14]:
oh_encoder = OneHotEncoder(sparse=True, categories='auto')
oh_encoder.fit_transform(df['user_gender_id'].values.reshape((-1, 1))).toarray()

array([[0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.]])

In [15]:
cv = CountVectorizer()
cv.fit_transform(df['item_category_list']).toarray()[0:10]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]], dtype=int64)

In [16]:
space = oh_encoder.fit_transform(df['user_gender_id'].values.reshape((-1, 1))).toarray()
val = cv.fit_transform(df['item_category_list']).toarray()
np.hstack((space, val))[0:10]

array([[0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 1., 0., 0.]])

In [17]:
feature_importance_1 = eval(open('feature_importance_1.txt', 'r').read())
sorted(feature_importance_1.items(), key=lambda x: x[1], reverse=True)

[('user_star_level', 1686),
 ('user_age_level', 1039),
 ('shop_score_description', 843),
 ('shop_score_delivery', 742),
 ('item_sales_level', 656),
 ('shop_score_service', 652),
 ('shop_review_positive_rate', 639),
 ('item_collected_level', 535),
 ('item_pv_level', 495),
 ('user_occupation_id_4', 386),
 ('item_price_level', 332),
 ('user_gender_id_2', 318),
 ('user_occupation_id_1', 304),
 ('shop_review_num_level', 286),
 ('shop_star_level', 194),
 ('user_gender_id_1', 184),
 ('item_category_list_7', 100),
 ('item_city_id_94', 95),
 ('item_category_list_13', 86),
 ('item_id_3693', 83),
 ('item_category_list_11', 77),
 ('item_category_list_8', 72),
 ('item_category_list_14', 68),
 ('item_id_3658', 66),
 ('item_city_id_92', 65),
 ('user_occupation_id_3', 63),
 ('item_category_list_9', 60),
 ('item_brand_id_1292', 59),
 ('item_category_list_5', 55),
 ('item_brand_id_47', 55),
 ('item_id_2444', 51),
 ('item_id_1937', 46),
 ('item_brand_id_557', 45),
 ('item_city_id_71', 44),
 ('item_brand_id_663', 44),
 ('item_id_2909', 43),
 ('shop_id_886', 43),
 ('item_city_id_46', 42),
 ('item_brand_id_652', 41),
 ('item_city_id_35', 40),
 ('item_id_636', 39),
 ('item_brand_id_675', 39),
 ('shop_id_1284', 39),
 ('item_id_4610', 39),
 ('item_id_5743', 39),
 ('item_id_4819', 38),
 ('user_gender_id_3', 38),
 ('item_city_id_60', 38),
 ('user_gender_id_0', 37),
 ('item_id_6089', 37),
 ('item_category_list_15', 36),
 ('item_id_3494', 35),
 ('item_brand_id_633', 35),
 ('item_brand_id_163', 35),
 ('item_brand_id_972', 35),
 ('item_brand_id_520', 34),
 ('item_id_4486', 34),
 ('item_id_4213', 34),
 ('item_brand_id_1092', 34),
 ('item_brand_id_1457', 34),
 ('item_id_1360', 33),
 ('item_city_id_108', 33),
 ('item_brand_id_1258', 33),
 ('shop_id_227', 32),
 ('item_city_id_13', 32),
 ('shop_id_1916', 32),
 ('item_category_list_6', 32),
 ('item_city_id_66', 31),
 ('item_id_5280', 31),
 ('shop_id_1084', 30),
 ('item_id_4736', 29),
 ('item_id_2396', 29),
 ('item_id_870', 29),
 ('item_id_799', 29),
 ('item_id_236', 28),
 ('item_id_2457', 28),
 ('shop_id_1386', 28),
 ('user_occupation_id_2', 28),
 ('item_id_3718', 27),
 ('item_id_93', 27),
 ('item_id_32', 27),
 ('item_id_6098', 27),
 ('shop_id_1292', 26),
 ('item_brand_id_1181', 26),
 ('item_id_4760', 26),
 ('shop_id_1523', 26),
 ('item_city_id_30', 25),
 ('item_brand_id_1301', 25),
 ('item_brand_id_1104', 25),
 ('item_id_1205', 25),
 ('item_brand_id_1159', 25),
 ('shop_id_2149', 24),
 ('item_id_411', 24),
 ('item_id_1029', 24),
 ('shop_id_1452', 24),
 ('item_brand_id_400', 24),
 ('item_id_4452', 24),
 ('item_id_4421', 24),
 ('item_id_1625', 24),
 ('item_id_118', 23),
 ('item_id_3152', 23),
 ('shop_id_199', 23),
 ('item_id_72', 22),
 ('item_brand_id_664', 22),
 ('item_id_4184', 22),
 ('item_brand_id_50', 22),
 ('item_id_4727', 22),
 ('item_brand_id_123', 22),
 ('item_id_4066', 22),
 ('shop_id_406', 21),
 ('shop_id_1647', 21),
 ('item_brand_id_855', 21),
 ('item_brand_id_556', 20),
 ('item_city_id_84', 20),
 ('shop_id_814', 20),
 ('item_id_1027', 20),
 ('item_id_1435', 20),
 ('item_id_3383', 19),
 ('item_brand_id_882', 18),
 ('item_brand_id_944', 18),
 ('item_id_2588', 18),
 ('shop_id_1823', 18),
 ('item_brand_id_272', 18),
 ('item_id_1313', 18),
 ('item_brand_id_161', 18),
 ('item_id_4612', 17),
 ('item_brand_id_1019', 17),
 ('item_city_id_99', 17),
 ('shop_id_581', 17),
 ('item_id_2634', 17),
 ('item_id_1647', 17),
 ('item_id_2973', 17),
 ('item_city_id_45', 17),
 ('item_id_4038', 17),
 ('item_brand_id_1203', 17),
 ('item_id_5352', 17),
 ('item_id_954', 16),
 ('shop_id_1516', 16),
 ('item_id_4111', 16),
 ('item_category_list_1', 16),
 ('item_brand_id_797', 16),
 ('item_id_4973', 16),
 ('item_id_3848', 16),
 ('item_brand_id_106', 16),
 ('shop_id_2477', 16),
 ('shop_id_1403', 16),
 ('item_id_340', 16),
 ('item_city_id_101', 16),
 ('item_id_614', 15),
 ('item_id_273', 15),
 ('item_brand_id_680', 15),
 ('item_id_4288', 15),
 ('item_id_4821', 15),
 ('item_id_6066', 15),
 ('item_id_4266', 15),
 ('shop_id_970', 15),
 ('item_id_334', 15),
 ('item_id_5350', 15),
 ('item_id_3719', 15),
 ('item_id_1860', 15),
 ('item_city_id_78', 15),
 ('shop_id_1325', 15),
 ('item_brand_id_1193', 15),
 ('item_id_4218', 15),
 ('item_brand_id_810', 14),
 ('item_brand_id_929', 14),
 ('item_id_2171', 14),
 ('item_id_3073', 14),
 ('item_id_4086', 14),
 ('item_brand_id_85', 14),
 ('shop_id_1462', 14),
 ('item_id_225', 14),
 ('shop_id_1279', 14),
 ('item_id_503', 14),
 ('item_brand_id_233', 14),
 ('item_id_823', 14),
 ('item_brand_id_549', 14),
 ('item_brand_id_293', 14),
 ('item_id_4', 13),
 ('shop_id_1800', 13),
 ('item_brand_id_1256', 13),
 ('shop_id_1320', 13),
 ('item_brand_id_385', 13),
 ('item_brand_id_1316', 13),
 ('item_brand_id_98', 13),
 ('item_id_1376', 13),
 ('item_brand_id_158', 13),
 ('item_city_id_1', 13),
 ('item_id_6203', 13),
 ('item_brand_id_305', 13),
 ('item_brand_id_1327', 13),
 ('item_city_id_23', 13),
 ('item_id_3221', 13),
 ('item_id_876', 12),
 ('item_brand_id_761', 12),
 ('item_brand_id_723', 12),
 ('item_id_5268', 12),
 ('item_brand_id_412', 12),
 ('item_id_70', 12),
 ('item_city_id_24', 12),
 ('item_brand_id_768', 12),
 ('item_city_id_105', 12),
 ('shop_id_1801', 12),
 ('shop_id_2389', 12),
 ('item_id_1451', 12),
 ('item_brand_id_110', 12),
 ('item_brand_id_434', 12),
 ('shop_id_2537', 12),
 ('item_id_40', 12),
 ('item_id_5918', 12),
 ('item_brand_id_953', 12),
 ('item_id_1540', 11),
 ('item_id_4441', 11),
 ('item_id_4281', 11),
 ('item_id_1486', 11),
 ('item_id_1630', 11),
 ('item_city_id_21', 11),
 ('item_id_5448', 11),
 ('item_brand_id_245', 11),
 ('item_id_4001', 11),
 ('item_brand_id_1298', 11),
 ('item_id_2833', 11),
 ('item_brand_id_1351', 11),
 ('item_brand_id_429', 10),
 ('shop_id_450', 10),
 ('item_brand_id_25', 10),
 ('item_id_3989', 10),
 ('item_city_id_19', 10),
 ('shop_id_1970', 10),
 ('item_brand_id_1335', 10),
 ('item_id_2487', 10),
 ('shop_id_703', 10),
 ('item_brand_id_1511', 10),
 ('shop_id_677', 10),
 ('item_id_2062', 10),
 ('item_city_id_55', 10),
 ('item_id_4488', 10),
 ('item_city_id_12', 10),
 ('shop_id_2403', 10),
 ('item_id_1623', 10),
 ('shop_id_1275', 10),
 ('item_id_2951', 10),
 ('item_id_2090', 10),
 ('item_brand_id_1302', 10),
 ('item_brand_id_1254', 10),
 ('item_id_3144', 9),
 ('item_id_1062', 9),
 ('item_id_1136', 9),
 ('item_brand_id_532', 9),
 ('item_brand_id_537', 9),
 ('item_brand_id_191', 9),
 ('item_brand_id_438', 9),
 ('item_id_3172', 9),
 ('shop_id_48', 9),
 ('item_id_1847', 9),
 ('item_city_id_72', 9),
 ('item_id_6051', 9),
 ('item_id_1894', 9),
 ('item_brand_id_1213', 9),
 ('item_brand_id_1137', 8),
 ('item_id_6044', 8),
 ('item_id_4222', 8),
 ('item_id_3578', 8),
 ('item_id_930', 8),
 ('item_id_669', 8),
 ('item_brand_id_136', 8),
 ('item_brand_id_984', 8),
 ('item_category_list_3', 8),
 ('item_id_360', 8),
 ('item_id_2600', 8),
 ('item_id_2217', 8),
 ('item_id_3218', 8),
 ('item_id_5536', 8),
 ('item_brand_id_309', 7),
 ('item_id_756', 7),
 ('item_brand_id_219', 7),
 ('item_brand_id_1173', 7),
 ('item_brand_id_638', 7),
 ('item_brand_id_367', 7),
 ('item_id_554', 7),
 ('item_brand_id_424', 7),
 ('item_brand_id_579', 7),
 ('item_brand_id_199', 6),
 ('item_id_5697', 6),
 ('shop_id_1566', 6),
 ('item_id_3055', 6),
 ('item_brand_id_1484', 6),
 ('item_brand_id_344', 6),
 ('shop_id_2779', 6),
 ('item_brand_id_92', 6),
 ('item_id_4513', 6),
 ('shop_id_2062', 6),
 ('item_id_1883', 6),
 ('shop_id_376', 6),
 ('item_id_2045', 5),
 ('item_id_5353', 5),
 ('shop_id_2480', 5),
 ('item_id_155', 5),
 ('item_id_5401', 5),
 ('item_id_3463', 5),
 ('item_brand_id_625', 5),
 ('item_id_2383', 5),
 ('item_id_2100', 5),
 ('item_id_1277', 5),
 ('item_id_2792', 5),
 ('item_id_2271', 5),
 ('item_brand_id_1096', 5),
 ('item_brand_id_562', 5),
 ('item_id_5215', 5),
 ('item_brand_id_1021', 5),
 ('item_id_5170', 5),
 ('shop_id_2073', 5),
 ('item_id_3867', 5),
 ('item_city_id_10', 5),
 ('item_id_5085', 5),
 ('item_id_3597', 4),
 ('item_id_1266', 4),
 ('item_brand_id_1046', 4),
 ('item_id_5219', 4),
 ('item_id_1950', 4),
 ('item_city_id_44', 4),
 ('item_brand_id_1061', 4),
 ('item_id_1668', 4),
 ('item_brand_id_1090', 4),
 ('item_id_5846', 4),
 ('item_id_5983', 4),
 ('shop_id_1119', 4),
 ('item_brand_id_284', 4),
 ('item_id_2913', 4),
 ('item_id_5767', 4),
 ('item_id_3247', 4),
 ('item_id_1763', 4),
 ('item_id_3898', 4),
 ('item_id_1735', 4),
 ('item_brand_id_617', 4),
 ('item_brand_id_786', 4),
 ('shop_id_2252', 4),
 ('shop_id_335', 4),
 ('shop_id_646', 3),
 ('item_id_4758', 3),
 ('item_brand_id_145', 3),
 ('item_id_584', 3),
 ('item_id_126', 3),
 ('item_id_5517', 3),
 ('item_id_232', 3),
 ('item_id_716', 3),
 ('item_brand_id_849', 3),
 ('item_id_3717', 3),
 ('item_brand_id_1350', 3),
 ('shop_id_445', 3),
 ('shop_id_8', 3),
 ('item_id_5507', 3),
 ('item_id_1060', 3),
 ('item_brand_id_978', 3),
 ('item_id_2860', 3),
 ('item_id_535', 3),
 ('item_id_3738', 3),
 ('item_id_4726', 3),
 ('item_brand_id_1075', 3),
 ('item_id_1942', 3),
 ('item_id_1795', 3),
 ('item_brand_id_1264', 3),
 ('item_brand_id_82', 3),
 ('item_id_286', 3),
 ('item_id_1185', 2),
 ('shop_id_1843', 2),
 ('item_brand_id_399', 2),
 ('item_id_5330', 2),
 ('item_brand_id_979', 2),
 ('item_brand_id_1185', 2),
 ('item_id_4830', 2),
 ('shop_id_169', 2),
 ('item_id_1337', 2),
 ('shop_id_636', 2),
 ('shop_id_1236', 2),
 ('item_id_2719', 2),
 ('item_id_2578', 2),
 ('shop_id_2416', 2),
 ('item_brand_id_1191', 2),
 ('item_id_3769', 2),
 ('item_id_5439', 2),
 ('item_brand_id_709', 2),
 ('item_brand_id_595', 2),
 ('shop_id_1458', 2),
 ('item_city_id_107', 2),
 ('item_id_5520', 2),
 ('item_brand_id_721', 2),
 ('shop_id_905', 2),
 ('item_brand_id_904', 2),
 ('item_brand_id_788', 2),
 ('shop_id_2101', 2),
 ('shop_id_902', 2),
 ('shop_id_97', 2),
 ('item_id_5013', 2),
 ('item_id_4899', 2),
 ('item_city_id_59', 1),
 ('item_brand_id_62', 1),
 ('item_id_1558', 1),
 ('shop_id_245', 1),
 ('item_id_773', 1),
 ('item_id_3319', 1),
 ('item_city_id_114', 1),
 ('item_id_920', 1),
 ('item_id_3146', 1),
 ('item_id_4277', 1),
 ('shop_id_204', 1),
 ('item_brand_id_283', 1),
 ('item_id_5226', 1),
 ('item_id_5174', 1),
 ('item_id_5803', 1),
 ('item_brand_id_657', 1),
 ('item_id_3886', 1),
 ('item_id_1291', 1),
 ('item_brand_id_184', 1),
 ('item_brand_id_776', 1),
 ('item_id_5890', 1),
 ('shop_id_2799', 1),
 ('item_id_5080', 1),
 ('item_brand_id_210', 1),
 ('item_id_3017', 1),
 ('item_id_2243', 1),
 ('shop_id_1250', 1),
 ('item_brand_id_973', 1),
 ('item_id_4206', 1),
 ('item_brand_id_939', 1),
 ('shop_id_2854', 1),
 ('item_brand_id_402', 1),
 ('item_id_761', 1),
 ('item_brand_id_1339', 1),
 ('item_id_4679', 1),
 ('item_city_id_62', 1),
 ('item_category_list_4', 1),
 ('item_brand_id_4', 1),
 ('shop_id_557', 1),
 ('item_brand_id_197', 1),
 ('shop_id_2805', 1),
 ('item_id_458', 1),
 ('item_id_480', 1),
 ('item_id_1092', 1),
 ('item_id_3975', 1),
 ('item_id_1153', 1),
 ('item_brand_id_65', 1),
 ('item_city_id_97', 1),
 ('item_id_2498', 1),
 ('item_id_5172', 1),
 ('item_id_465', 1),
 ('item_brand_id_647', 1)]

In [ ]:
feature_importance_2 = eval(open('feature_importance_2.txt', 'r').read())
sorted(feature_importance_2.items(), key=lambda x: x[1], reverse=True)

[('user_star_level', 1417),
 ('user_age_level', 892),
 ('item_convrate', 789),
 ('age_item_convraterate', 765),
 ('shop_score_service', 709),
 ('shop_score_description', 639),
 ('shop_score_delivery', 624),
 ('shop_review_positive_rate', 604),
 ('first_to_now', 518),
 ('item_sales_level', 499),
 ('prev_to_now', 491),
 ('item_pv_level', 321),
 ('item_price_level', 298),
 ('shop_review_num_level', 294),
 ('user_occupation_id_1', 277),
 ('user_occupation_id_4', 228),
 ('item_collected_level', 208),
 ('user_gender_id_1', 192),
 ('user_gender_id_2', 164),
 ('shop_star_level', 125),
 ('recent_15_minutes', 94),
 ('item_category_list_11', 86),
 ('item_city_id_96', 82),
 ('item_id_3901', 60),
 ('item_brand_id_288', 59),
 ('item_id_2532', 58),
 ('shop_id_1606', 53),
 ('item_category_list_9', 50),
 ('user_occupation_id_3', 50),
 ('item_category_list_5', 49),
 ('item_brand_id_1327', 49),
 ('item_category_list_8', 48),
 ('item_category_list_14', 48),
 ('item_category_list_13', 46),
 ('item_brand_id_1001', 43),
 ('item_id_298', 43),
 ('item_id_3305', 41),
 ('item_brand_id_1168', 41),
 ('item_city_id_73', 40),
 ('item_id_2281', 39),
 ('item_brand_id_4', 38),
 ('item_brand_id_928', 38),
 ('item_id_559', 38),
 ('item_category_list_7', 37),
 ('shop_id_1378', 37),
 ('shop_id_670', 36),
 ('shop_id_740', 35),
 ('item_brand_id_106', 34),
 ('item_id_2436', 33),
 ('shop_id_1866', 33),
 ('item_id_6134', 32),
 ('shop_id_1508', 32),
 ('item_city_id_18', 32),
 ('item_brand_id_871', 32),
 ('item_city_id_94', 32),
 ('item_brand_id_1236', 32),
 ('item_id_5733', 31),
 ('item_id_1929', 31),
 ('item_brand_id_1548', 31),
 ('item_category_list_15', 31),
 ('user_gender_id_3', 31),
 ('item_id_5379', 31),
 ('item_id_6421', 31),
 ('item_city_id_1', 31),
 ('item_id_5079', 31),
 ('item_id_1443', 30),
 ('shop_id_752', 30),
 ('item_id_3307', 29),
 ('item_id_5037', 29),
 ('item_brand_id_533', 29),
 ('item_id_1746', 28),
 ('item_id_4112', 28),
 ('item_brand_id_1338', 27),
 ('item_id_1249', 27),
 ('item_brand_id_623', 27),
 ('shop_id_2050', 26),
 ('item_brand_id_1129', 26),
 ('shop_id_1095', 25),
 ('item_brand_id_1208', 25),
 ('item_id_887', 25),
 ('item_brand_id_472', 25),
 ('item_brand_id_1011', 25),
 ('item_id_1048', 25),
 ('item_id_608', 25),
 ('item_brand_id_1098', 25),
 ('item_brand_id_1269', 25),
 ('item_id_3393', 24),
 ('shop_id_1188', 24),
 ('item_brand_id_710', 24),
 ('shop_id_1576', 23),
 ('item_id_2434', 23),
 ('item_brand_id_956', 23),
 ('item_id_4478', 23),
 ('user_gender_id_0', 23),
 ('item_category_list_6', 22),
 ('shop_id_1722', 22),
 ('item_brand_id_1299', 22),
 ('shop_id_468', 22),
 ('item_id_5639', 22),
 ('item_id_6243', 21),
 ('item_id_6063', 21),
 ('item_id_4361', 21),
 ('item_id_6101', 21),
 ('item_id_94', 21),
 ('item_city_id_46', 21),
 ('shop_id_31', 21),
 ('item_id_4738', 21),
 ('item_id_5048', 21),
 ('item_id_1270', 21),
 ('item_brand_id_178', 20),
 ('item_city_id_92', 20),
 ('item_brand_id_770', 20),
 ('item_brand_id_437', 20),
 ('item_id_3328', 20),
 ('shop_id_850', 20),
 ('item_id_3141', 20),
 ('item_id_3653', 20),
 ('item_city_id_74', 20),
 ('item_brand_id_313', 19),
 ('item_id_2541', 19),
 ('item_id_5851', 19),
 ('item_city_id_35', 19),
 ('item_brand_id_123', 18),
 ('item_id_210', 18),
 ('item_city_id_13', 18),
 ('shop_id_815', 18),
 ('shop_id_1594', 18),
 ('shop_id_2932', 18),
 ('item_id_5665', 18),
 ('item_id_4444', 18),
 ('item_id_3172', 18),
 ('item_brand_id_1083', 18),
 ('item_brand_id_920', 18),
 ('item_brand_id_1195', 18),
 ('item_brand_id_643', 18),
 ('item_id_6048', 17),
 ('shop_id_952', 17),
 ('item_id_5667', 17),
 ('item_id_6009', 17),
 ('item_id_1663', 17),
 ('item_brand_id_346', 17),
 ('item_id_3747', 17),
 ('shop_id_2880', 17),
 ('item_id_795', 17),
 ('item_brand_id_189', 17),
 ('item_brand_id_1123', 17),
 ('item_brand_id_1292', 16),
 ('item_id_1486', 16),
 ('shop_id_1421', 16),
 ('item_id_3935', 16),
 ('item_brand_id_399', 16),
 ('shop_id_629', 16),
 ('item_brand_id_967', 16),
 ('item_city_id_23', 16),
 ('item_id_6553', 16),
 ('item_brand_id_1513', 15),
 ('item_brand_id_784', 15),
 ('item_brand_id_1176', 15),
 ('item_id_3497', 15),
 ('item_id_440', 15),
 ('item_category_list_1', 15),
 ('item_brand_id_1438', 15),
 ('item_brand_id_523', 14),
 ('item_brand_id_914', 14),
 ('item_brand_id_788', 14),
 ('shop_id_2623', 14),
 ('item_id_3827', 14),
 ('item_id_5101', 14),
 ('item_category_list_3', 13),
 ('item_id_6397', 13),
 ('shop_id_1827', 13),
 ('item_id_1362', 13),
 ('item_id_1879', 13),
 ('shop_id_1227', 13),
 ('item_id_5504', 13),
 ('item_id_6203', 13),
 ('item_brand_id_318', 13),
 ('item_brand_id_699', 13),
 ('shop_id_785', 13),
 ('shop_id_1864', 12),
 ('item_id_6478', 12),
 ('item_id_2155', 12),
 ('item_brand_id_1344', 12),
 ('item_brand_id_1217', 12),
 ('item_id_3417', 12),
 ('item_city_id_61', 12),
 ('item_city_id_81', 12),
 ('item_brand_id_1254', 12),
 ('item_id_41', 12),
 ('item_id_1635', 12),
 ('shop_id_2124', 12),
 ('item_id_2008', 12),
 ('item_brand_id_283', 11),
 ('item_brand_id_621', 11),
 ('shop_id_994', 11),
 ('shop_id_1049', 11),
 ('item_id_5821', 11),
 ('item_brand_id_135', 11),
 ('item_id_202', 11),
 ('item_brand_id_648', 11),
 ('item_id_6540', 11),
 ('item_brand_id_1247', 11),
 ('item_brand_id_387', 11),
 ('item_id_4043', 11),
 ('item_brand_id_328', 11),
 ('item_city_id_108', 11),
 ('shop_id_452', 11),
 ('shop_id_405', 11),
 ('item_brand_id_650', 11),
 ('item_id_4776', 11),
 ('shop_id_1936', 10),
 ('shop_id_2672', 10),
 ('item_id_927', 10),
 ('item_id_1467', 10),
 ('item_brand_id_1384', 10),
 ('item_id_6409', 10),
 ('shop_id_1997', 10),
 ('item_id_3531', 10),
 ('item_brand_id_933', 10),
 ('item_brand_id_1374', 10),
 ('shop_id_2320', 10),
 ('item_city_id_62', 10),
 ('item_brand_id_681', 10),
 ('item_id_4537', 10),
 ('item_id_2009', 10),
 ('item_id_1646', 10),
 ('item_id_1995', 10),
 ('item_brand_id_86', 10),
 ('item_id_5023', 9),
 ('shop_id_780', 9),
 ('shop_id_2495', 9),
 ('item_city_id_12', 9),
 ('item_brand_id_1133', 9),
 ('item_brand_id_52', 9),
 ('item_id_3254', 9),
 ('item_id_5413', 9),
 ('shop_id_176', 9),
 ('item_id_4077', 9),
 ('item_id_2825', 9),
 ('item_id_953', 9),
 ('item_id_5862', 9),
 ('item_id_2790', 9),
 ('item_id_6383', 9),
 ('item_brand_id_69', 8),
 ('item_id_5384', 8),
 ('item_id_696', 8),
 ('shop_id_1910', 8),
 ('shop_id_873', 8),
 ('user_occupation_id_2', 8),
 ('item_id_6283', 8),
 ('item_id_1829', 8),
 ('item_id_23', 8),
 ('item_brand_id_429', 8),
 ('item_id_5405', 8),
 ('item_brand_id_551', 8),
 ('shop_id_1320', 8),
 ('item_brand_id_362', 8),
 ('item_id_2758', 8),
 ('item_brand_id_552', 8),
 ('shop_id_2857', 8),
 ('item_id_4291', 8),
 ('item_id_4238', 7),
 ('item_brand_id_309', 7),
 ('item_brand_id_1225', 7),
 ('shop_id_380', 7),
 ('item_id_4324', 7),
 ('item_brand_id_1423', 7),
 ('item_id_6018', 7),
 ('item_brand_id_414', 7),
 ('item_id_5438', 7),
 ('item_id_4615', 7),
 ('item_brand_id_160', 7),
 ('shop_id_1663', 7),
 ('item_brand_id_433', 7),
 ('shop_id_2031', 7),
 ('item_id_509', 7),
 ('item_id_1051', 7),
 ('item_id_3998', 7),
 ('item_city_id_56', 6),
 ('shop_id_1137', 6),
 ('item_id_5426', 6),
 ('shop_id_586', 6),
 ('item_id_932', 6),
 ('shop_id_127', 6),
 ('item_brand_id_1121', 6),
 ('shop_id_2489', 6),
 ('shop_id_600', 6),
 ('item_id_2084', 6),
 ('item_brand_id_634', 6),
 ('item_brand_id_1109', 6),
 ('item_city_id_44', 6),
 ('item_brand_id_66', 6),
 ('item_brand_id_702', 6),
 ('item_id_2526', 6),
 ('item_id_3562', 6),
 ('item_city_id_24', 6),
 ('shop_id_466', 6),
 ('shop_id_1612', 6),
 ('shop_id_378', 6),
 ('item_city_id_102', 6),
 ('item_id_5407', 6),
 ('item_id_5603', 6),
 ('item_id_5924', 6),
 ('item_id_825', 6),
 ('item_brand_id_622', 6),
 ('item_id_1250', 6),
 ('item_id_5301', 6),
 ('item_brand_id_1000', 6),
 ('shop_id_2463', 6),
 ('item_id_5176', 6),
 ('item_brand_id_1467', 6),
 ('item_id_2378', 5),
 ('item_brand_id_1386', 5),
 ('item_id_2037', 5),
 ('item_id_1542', 5),
 ('shop_id_2028', 5),
 ('item_id_3320', 5),
 ('item_id_922', 5),
 ('item_id_2299', 5),
 ('item_id_3124', 5),
 ('item_brand_id_1289', 5),
 ('item_id_2051', 5),
 ('shop_id_1788', 5),
 ('item_city_id_26', 5),
 ('shop_id_1790', 5),
 ('shop_id_206', 5),
 ('item_id_6030', 5),
 ('item_brand_id_806', 5),
 ('shop_id_174', 5),
 ('item_id_3627', 4),
 ('item_id_4128', 4),
 ('item_id_3390', 4),
 ('item_brand_id_401', 4),
 ('item_city_id_52', 4),
 ('shop_id_971', 4),
 ('item_brand_id_292', 4),
 ('item_brand_id_158', 4),
 ('item_id_2160', 4),
 ('item_brand_id_676', 4),
 ('item_id_2142', 4),
 ('item_brand_id_1085', 4),
 ('item_brand_id_246', 4),
 ('item_brand_id_728', 4),
 ('item_id_1691', 4),
 ('item_id_788', 4),
 ('shop_id_2422', 4),
 ('item_id_1010', 4),
 ('item_id_2636', 4),
 ('item_id_4031', 4),
 ('item_id_2450', 4),
 ('item_brand_id_297', 3),
 ('item_id_4147', 3),
 ('item_brand_id_544', 3),
 ('shop_id_1857', 3),
 ('shop_id_2166', 3),
 ('item_id_3189', 3),
 ('item_brand_id_279', 3),
 ('item_brand_id_879', 3),
 ('item_id_1844', 3),
 ('shop_id_2040', 3),
 ('item_brand_id_1370', 3),
 ('item_id_6282', 3),
 ('item_brand_id_166', 3),
 ('item_id_5240', 3),
 ('item_brand_id_104', 3),
 ('shop_id_1180', 3),
 ('item_id_6429', 3),
 ('item_id_2476', 3),
 ('item_id_1234', 3),
 ('item_id_2022', 3),
 ('shop_id_1500', 3),
 ('item_id_1321', 3),
 ('item_id_2706', 3),
 ('item_id_5152', 3),
 ('shop_id_1677', 3),
 ('item_id_2940', 2),
 ('item_id_78', 2),
 ('shop_id_978', 2),
 ('item_brand_id_230', 2),
 ('item_id_6241', 2),
 ('shop_id_2405', 2),
 ('item_brand_id_1108', 2),
 ('shop_id_2119', 2),
 ('item_id_2916', 2),
 ('item_id_3521', 2),
 ('item_id_1523', 2),
 ('item_brand_id_1115', 2),
 ('shop_id_2809', 2),
 ('item_brand_id_480', 2),
 ('shop_id_2131', 2),
 ('shop_id_1331', 2),
 ('shop_id_928', 2),
 ('item_brand_id_115', 2),
 ('item_brand_id_1012', 2),
 ('item_id_4139', 2),
 ('shop_id_1013', 2),
 ('item_brand_id_664', 2),
 ('item_city_id_118', 2),
 ('item_id_2601', 2),
 ('item_city_id_21', 2),
 ('item_id_205', 2),
 ('item_id_5493', 2),
 ('shop_id_940', 2),
 ('item_brand_id_853', 2),
 ('shop_id_2575', 2),
 ('item_brand_id_1212', 2),
 ('item_id_515', 2),
 ('item_brand_id_108', 2),
 ('item_id_5988', 2),
 ('item_brand_id_63', 2),
 ('item_id_3846', 1),
 ('item_brand_id_245', 1),
 ('item_id_5139', 1),
 ('item_id_168', 1),
 ('item_id_6516', 1),
 ('item_brand_id_592', 1),
 ('item_brand_id_1222', 1),
 ('item_id_237', 1),
 ('item_id_4749', 1),
 ('shop_id_2559', 1),
 ('item_city_id_9', 1),
 ('shop_id_2208', 1),
 ('shop_id_692', 1),
 ('shop_id_1029', 1),
 ('item_id_1552', 1),
 ('item_brand_id_1050', 1),
 ('item_id_672', 1),
 ('item_brand_id_424', 1),
 ('item_city_id_85', 1),
 ('item_brand_id_1354', 1),
 ('item_brand_id_859', 1),
 ('item_brand_id_186', 1),
 ('item_id_3990', 1),
 ('item_id_2981', 1),
 ('item_id_1158', 1),
 ('item_brand_id_668', 1),
 ('item_id_2692', 1),
 ('item_id_3183', 1),
 ('item_id_3934', 1),
 ('item_id_2571', 1),
 ('item_id_4839', 1),
 ('item_id_4446', 1),
 ('item_id_4326', 1),
 ('item_id_2567', 1),
 ('item_id_821', 1),
 ('item_brand_id_1366', 1),
 ('item_city_id_15', 1),
 ('item_brand_id_657', 1),
 ('item_brand_id_83', 1),
 ('shop_id_2726', 1),
 ('item_city_id_53', 1),
 ('item_brand_id_981', 1),
 ('item_category_list_4', 1),
 ('item_id_3867', 1),
 ('shop_id_631', 1),
 ('item_id_3204', 1),
 ('item_city_id_111', 1),
 ('item_id_120', 1),
 ('shop_id_1065', 1),
 ('item_id_2649', 1),
 ('item_id_2925', 1),
 ('item_brand_id_1512', 1),
 ('item_id_107', 1),
 ('shop_id_1969', 1),
 ('item_id_3354', 1),
 ('item_id_3771', 1),
 ('item_id_3449', 1),
 ('item_city_id_80', 1),
 ('item_id_6276', 1),
 ('item_id_939', 1),
 ('item_brand_id_780', 1),
 ('item_id_1852', 1),
 ('shop_id_1698', 1)]